.cta {
  background-color: $color-ivory;
  color: $color-racing-green;
  background-position: 82.9% 100%;
  background-repeat: no-repeat;
  background-size: 1199px 412px;
  padding-top: 64px;
  padding-bottom: 387px;

  @include vp-768 {
    background-position: 100% 100%;
  }

  @include vp-1280 {
    background-size: 1920px 660px;
    padding-top: 242px;
    padding-bottom: 193px;
    background-position: 100% 158%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include vp-1280 {
      align-items: flex-start;
    }
  }
}

.cta__title {
  font-weight: 700;
  margin-bottom: 22px;
  letter-spacing: -0.05em;

  @include vp-1280 {
    margin-bottom: 12px;
    text-align: left;
    max-width: 40%;
    letter-spacing: -0.02em;
  }

  @include vp-1440 {
    max-width: 100%;
  }
}

.cta__subtitle {
  @include font-settings(500, 16px, 1.3);
  margin-bottom: 38px;

  @include vp-1280 {
    margin-bottom: 61px;
    text-align: left;
    font-size: 20px;
  }
}
