.leaderboard {
  padding-top: 59px;
  padding-bottom: 40px;

  @include vp-1280 {
    padding-bottom: 119px;
    padding-top: 120px;
  }

  .container {
    position: relative;
    padding: 0 5px 0 16px;

    @include vp-1280 {
      padding: 0 16px 0 32px;
    }
  }
}

.leaderboard__heading {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 19px;

  @include vp-1280 {
    margin-bottom: 33px;
  }
}

.leaderboard__date {
  @include font-settings(500, 18px, 1);
  color: $color-racing-green;
  text-transform: uppercase;
  background: $color-quill-grey;
  padding: 12px 18px;
  white-space: nowrap;
}

.leaderboard__text {
  @include font-settings(400, 18px, 1);
}

.leaderboard__title {
  font-size: 40px;
  margin-bottom: 34px;
  text-align: left;
  letter-spacing: -0.05em;

  @include vp-1280 {
    font-size: 64px;
    margin-bottom: 68px;
    letter-spacing: -.03em;
  }
}

.leaderboard__table {
  max-height: 491px;
  overflow-y: auto;
  padding-right: 7px;

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  td {
    border: 1px solid $color-ivory;
    padding: 21px 25px;
    color: $color-ivory !important;
    pointer-events: none;
    cursor: default;

    &:nth-child(1) {
      text-align: left;
      width: 21.65%;

      @include vp-1280 {
        width: 24.16%;
      }

      span {
        @include font-settings(500, 24px, 1);
        letter-spacing: -0.02em;
      }
    }

    &:nth-child(2) {
      text-align: center;
      width: 51.52%;

      @include vp-1280 {
        width: 51.67%;
      }

      span {
        @include font-settings(400, 16px, 1);
      }
    }

    &:nth-child(3) {
      text-align: right;
      width: 26.83%;

      @include vp-1280 {
        width: 24.16%;
      }

      span {
        @include font-settings(400, 16px, 1);
      }
    }
  }
}
